.search-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(77, 4, 154);
  width: 100%;
  height: 50px;
  padding-top: 10px;
}
.search-form input {
  height: 30px;
  border: none;
}
.search-form button {
  height: 32px;
  border: none;
}
.gallery {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  gap: 15px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.photo-card img {
  width: 350px;
  height: 225px;
}
.info {
  width: 349px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.load-more {
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  background-color: blueviolet;
  border: none;
  border-radius: 3px;
  align-items: center;
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
